.details-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}

/* LEFT */
.left-images {
  flex: 1;
  min-width: 350px;
}

.main-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  background: #e5e5e5;
}

/* RIGHT */
.right-info {
  flex: 1;
  min-width: 350px;
}

.brand-title {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.product-title {
  font-size: 24px;
  font-weight: 600;
}

.rating span {
  color: #888;
  font-size: 14px;
}

.price {
  font-size: 28px;
  margin: 10px 0;
}

.stock-warning {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.qty-box button {
  width: 35px;
  height: 35px;
  border: none;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.btn-row {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.add-cart {
  flex: 1;
  padding: 12px;
  background: #b30000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buy-now {
  flex: 1;
  padding: 12px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.section {
  margin-top: 20px;
}

.section h3 {
  margin-bottom: 5px;
}

/* RELATED PRODUCTS */
.related-products {
  width: 100%;
  margin-top: 60px;
}

.related-list {
  display: flex;
  gap: 25px;
}

.related-card {
  width: 160px;
  text-align: center;
}

.related-card img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
  background: #e5e5e5;
}
