.bundle-container {

    /* background-color: #121212; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.bundles-title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    font-weight: 700;
    color: #333;
}

.bundle-card {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 10px 30px rgba(245, 242, 242, 0.4);
    color: black;
    position: relative;
    transition: all 0.5s ease-in-out;
    padding: 40px 60px;
    padding-top: 0;
    animation: fadeIn 0.8s ease;
}

.bundle-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.bundle-tag {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 15px;
    background-color: #7d1422;
    width: fit-content;
    padding: 7px 15px;

}

.bundle-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.bundle-price {
    font-size: 2rem;
    font-weight: 600;
    color: #7d1422;
}

.bundle-desc {
    font-size: 1.1rem;
    color: #ccc;
    max-width: 500px;
}

.bundle-btn {
    background-color: #ec2124;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    width: fit-content;
}

.bundle-btn:hover {
    background-color: #7d1422;
}

.bundle-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bundle-image {
    width: 80%;
    height: auto;
    object-fit: contain;
    transition: transform 0.4s ease-in-out;
}

.bundle-image:hover {
    transform: scale(1.05);
}

/* Navigation Buttons */
.bundle-nav {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    justify-content: space-between;

}

.bundle-nav button {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    border: 1px solid #555;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bundle-nav button:hover {
    background-color: #ec2124;
    border-color: #ec2124;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 900px) {
    .bundle-card {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 40px 20px;
    }

    .bundle-right img {
        width: 70%;
    }

    .bundle-nav {
        bottom: 20px;
    }
}